#container_map_img {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-size: cover;
  transition: transform 0.5s ease-in;
}

.move-up {
  transform: translateY(-70%);
}

.move-down {
  transform: translateY(0);
}

.move-up-btn {
    transform: translateY(-19rem);
  }
  